<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VirtioLegacyPCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOClass</key>
			<string>eu_dennis__jordan_driver_VirtioLegacyPCIDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x10001AF4&amp;0xffc0ffff</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProbeScore</key>
			<integer>120</integer>
		</dict>
		<key>VirtioPCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOClass</key>
			<string>eu_dennis__jordan_driver_VirtioPCIDevice</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x10001AF4&amp;0xffc0ffff</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProbeScore</key>
			<integer>150</integer>
		</dict>
		<key>VirtioMemBallonController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOClass</key>
			<string>eu_dennis__jordan_driver_VirtioMemBalloonDevice</string>
			<key>IOProviderClass</key>
			<string>eu_dennis__jordan_driver_VirtioLegacyPCIDevice</string>
			<key>VirtioDeviceTypeID</key>
			<integer>5</integer>
		</dict>
		<key>VirtioBlockController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOClass</key>
			<string>eu_dennis__jordan_driver_VirtioBlockDevice</string>
			<key>IOProviderClass</key>
			<string>eu_dennis__jordan_driver_VirtioLegacyPCIDevice</string>
			<key>VirtioDeviceTypeID</key>
			<integer>2</integer>
		</dict>
		<key>VirtioEthernetController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOClass</key>
			<string>eu_dennis__jordan_driver_VirtioEthernetController</string>
			<key>IOProviderClass</key>
			<string>eu_dennis__jordan_driver_VirtioLegacyPCIDevice</string>
			<key>VirtioDeviceTypeID</key>
			<integer>1</integer>
			<key>VirtioRequiredFeatures</key>
			<integer>32</integer>
		</dict>
		<key>VirtioNetworkController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>eu.dennis-jordan.driver.$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOClass</key>
			<string>eu_dennis__jordan_driver_VirtioNetworkDevice</string>
			<key>IOProviderClass</key>
			<string>eu_dennis__jordan_driver_VirtioLegacyPCIDevice</string>
			<key>VirtioDeviceTypeID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
